@font-face {
  font-family: 'Aloja light';
  src: url(Aloja-Light.otf);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.album{
  color: #151515;
  font-family: 'Aloja light';
  box-sizing: border-box;
  margin: 0;
  padding: 5px;
}

.album > div{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-items: center;
  align-items: center;
  gap: 10px;
  max-width: 900px;
  margin: auto;
  padding-bottom: 50px;
}

.album > div > div{
  display: flex;
  border-radius: 10px;
  box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.1);
  -webkit-box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.1);
  overflow: hidden;
}

.album > div > div > img{
  max-width: 100%;
  border-radius: 10px;
}

h1, h2{
  text-align: center;
}

h2{
  padding: 20px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.final{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 30px;
  min-height: 100dvh;
  background: url(images/pexels-anastasiya-vragova-6662557.jpg);
  background-size: cover;
  gap: 30px;
}

.final > p{
  background: #ffffff;
    padding: 30px;
}

.final > h1{
  background-color: #ffffff;
  font-family: 'Aloja light';
}

p{
  margin: auto;
  max-width: 65ch;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: justify;
  padding: 30px;
  padding-top: 0;
  color: #151515;
}